{{#liquid-if isShowingNewAttendeeCalendar class="event-calendars"}}
  {{new-attendee-form event=event createAttendee=(route-action "createAttendee") class="new-attendee"}}
  <span class="divider"></span>
  {{#if hasAttendees}}
    <button {{action "toggleCalendars"}} class="button button--inverse event-calendars__toggle">Check out the dates that attendees are available yo!</button>
  {{/if}}
{{else}}
  {{attendees-availabilities event=event class="attendees-availabilities"}}
  <span class="divider"></span>
  <button {{action "toggleCalendars"}} class="button button--inverse event-calendars__toggle">HEY share the dates that you're available OK?</button>
{{/liquid-if}}
