{{#if isShowingNewAttendeeCalendar}}
  {{new-attendee-form event=event createAttendee="createAttendee" class="new-attendee"}}
  <button {{action "toggleCalendars"}} class="event__toggle-calendars">View available dates for attendees</button>
{{else}}
  {{attendees-availabilities event=event class="attendees-availabilities"}}
  <button {{action "toggleCalendars"}} class="event__toggle-calendars">HEY share the dates that you're available OK?</button>
{{/if}}
