{{#each event.months as |month|}}
  {{month-calendar
      month=month
      startDate=event.startDate
      endDate=event.endDate
      onDateClick="updateAvailableDates"}}
{{/each}}

<label>Name:</label>
{{input value=name focus-out=(action "focusOutNameInput")}}

<p>{{helloMessage}}</p>

{{#if event.secret}}
  <label>Do you know the super secret password?</label>
  {{input value=(mut (get this 'secret'))}}
{{/if}}

<button {{action "createAttendee"}}>Submit</button>
