<section>
  <h2 class="new-attendee__header">Hey share the dates that you're available ok?</h2>

  {{#each event.months as |month|}}
    {{selectable-month
        month=month
        startDate=event.startDate
        endDate=event.endDate
        onDateClick="updateAvailableDates"}}
  {{/each}}
</section>

<section class="new-attendee__form">
  <div class="form-column form-column--messages">
    {{new-attendee-form-message helloText=helloText formMessage=formMessage}}
  </div>

  <div class="form-column form-column--inputs">
    <div class="form-row">
      <label class="form-row__label" for="name">My name is</label>
      {{line-input id="name" value=name focus-out=(action "focusOutNameInput") class="form-row__input form-row__input-name line-input--blue" autoresize=true max-width=250 placeholder="name . . ."}}{{#unless event.secret}}.{{/unless}}
    </div>

    <div class="form-row">
      {{#if event.secret}}
        <label class="form-row__label" for="secret">and the super secret password is</label>
        {{line-input id="secret" value=(mut (get this 'secret')) class="form-row__input form-row__input-secret line-input--blue" type="password" autoresize=true max-width=200 placeholder="secret . . ."}}.
      {{/if}}
    </div>
    <div class="form-row">
      {{#if shouldShowSubmit}}
        <button {{action "createAttendee"}} class="button button--blue form-row__button">Submit</button>
      {{/if}}
    </div>
  </div>
</section>
