<section class="new-event__inputs">
  <p class="new-event__line">
    <label for="name">The event I want to plan is called</label> <span class="line-input-with-period">{{line-input id="name" value=(mut (get this 'name')) class="new-event__input new-event__name line-input line-input--blue" placeholder="event name . . ." autoresize=true max-width=400}}.</span>
  </p>

  <p class="new-event__line">
    <label for="location">It will take place at</label> <span class="line-input-with-period">{{line-input id="location" value=(mut (get this 'location')) class="new-event__input new-event__location line-input--blue" placeholder="location  (optional)" autoresize=true max-width=400}}.</span>
  </p>

  <p class="new-event__line">
    <label for="details">All you need to know about it is</label> <span class="line-input-with-period">{{line-input id="details" value=(mut (get this 'details')) class="new-event__input new-event__details line-input--blue" placeholder="details  (optional)" autoresize=true max-width=400}}.</span>
  </p>

  <p class="new-event__line">
    <label for="secret">Don't tell anyone that our super secret password is</label> {{line-input id="secret" value=(mut (get this 'secret')) class="new-event__input new-event__secret line-input--blue" type="password" placeholder="secret  (optional)" autoresize=true max-width=400}}.
  </p>

  <p class="new-event__line">
    The days that attendees can let me know their availabilities are <label for="start-date">from</label> {{pikaday-input id="start-date" format="MM/DD/YYYY" onSelection=(action 'selectStartDate') class="new-event__start-date new-event__date" placeholder="start date"}} <label for="end-date">to</label> <span class="line-input-with-period">{{pikaday-input id="end-date" format="MM/DD/YYYY" onSelection=(action 'selectEndDate') class="new-event__end-date new-event__date" placeholder="end date"}} .</span>
  </p>
</section>

<section>
  <div class="new-event__submit">
    <div class="new-event__message new-event__message--error">
      {{#liquid-bind error use="toLeft" as |error|}}
        {{error}}
      {{/liquid-bind}}
    </div>
    <button {{action "createEvent"}} class="button button--med button--blue new-event__create">Create Event</button>
  </div>
    {{#if allInputsFilled}}
      <img class="new-event__message--filled" src="/assets/images/wow.gif" alt="GIF of a dog with eyes widening and going 'Wow!'">
    {{/if}}
</section>
