<ul>
  <li>
    <label>Name</label>
    {{input value=(mut (get this 'name')) class="new-event__name"}}
  </li>
  <li>
    <label>Details</label>
    {{input value=(mut (get this 'details')) class="new-event__details"}}
  </li>
  <li>
    <label>Location (optional)</label>
    {{input value=(mut (get this 'location')) class="new-event__location"}}
  </li>
  <li>
    <label>Secret (optional)</label>
    {{input value=(mut (get this 'secret')) class="new-event__secret"}}
  </li>
  <li>
    <label>Start Date</label>
    {{pikaday-input format="MM/DD/YYYY" onSelection=(action 'selectStartDate') class="new-event__start-date"}}

    <label>End Date</label>
    {{pikaday-input format="MM/DD/YYYY" onSelection=(action 'selectEndDate') class="new-event__end-date"}}
  </li>
</ul>

<button {{action "createEvent"}} class="new-event__create">Create Event</button>
