<section>
  <h2 class="new-attendee__header">HEY share the dates that you're available OK?</h2>

  <div class="new-attendee__selectable-months">
    {{#each event.months as |month|}}
      {{selectable-month
          month=month
          startDate=event.startDate
          endDate=event.endDate
          onDateClick="updateAvailableDates"
          class="month-calendar"}}
    {{/each}}
  </div>
</section>

<section class="new-attendee__form form-items">
  <div class="form-items__column form-inputs">
    <div class="form-inputs__row form-row">
      <label class="form-row__label">Name:</label>
      {{line-input value=name focus-out=(action "focusOutNameInput") class="form-row__input" autoresize=true max-width=220}}
    </div>

    <div class="form-inputs__row form-row">
      {{#if event.secret}}
        <label class="form-row__label">Do you know the super secret password?</label>
        {{line-input value=(mut (get this 'secret')) class="form-row__input" type="password" autoresize=true max-width=220}}
      {{/if}}
    </div>
    <div class="form-inputs__row form-row">
      <button {{action "createAttendee"}} class="button">Submit</button>
    </div>
  </div>

  <div class="form-items__column form-message">
    <p class="form-message__text">{{helloMessage}}</p>
  </div>
</section>
