<section>
  <h2 class="new-attendee__header">HEY share the dates that you're available OK?</h2>

  <div class="new-attendee__selectable-months">
    {{#each event.months as |month|}}
      {{selectable-month
          month=month
          startDate=event.startDate
          endDate=event.endDate
          onDateClick="updateAvailableDates"}}
    {{/each}}
  </div>
</section>

<section class="new-attendee__form">
  <div class="form-column form-column--right-align">
    {{#liquid-if statusMessenger.hasMessage class='form-message'}}
      {{form-message helloText=helloText isVisible=statusMessenger.hasMessage}}
    {{/liquid-if}}
  </div>

  <div class="form-column form-column--left-align">
    <div class="form-row">
      <label class="form-row__label">My name is</label>
      {{line-input value=name focusOut=(action "focusOutNameInput") class="form-row__input form-row__input-name" indicateNoValue=true autoresize=true max-width=250 placeholder="name . . ."}}{{#unless event.secret}}.{{/unless}}
    </div>

    <div class="form-row">
      {{#if event.secret}}
        <label class="form-row__label">and the super secret password is</label>
        {{line-input value=(mut (get this 'secret')) class="form-row__input" type="password" autoresize=true max-width=220 placeholder="secret . . ." indicateNoValue=true}}.
      {{/if}}
    </div>
    <div class="form-row">
      {{#unless submitIsSuccessful}}
        <button {{action "createAttendee"}} class="button form-row__button">Submit</button>
      {{/unless}}
    </div>
  </div>
</section>
